body {
    background-color: #fffbea;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b72626;
    color: white;
    padding: 30px 20px 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h2 {
    margin: 0;
    font-size: 28px;
}

header a {
    display: inline-block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    background-color: #ffb400;
    padding: 7px 14px;
    border-radius: 5px;
}

div {
    max-width: 1100px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #e0e0e0;
    padding: 14px 10px;
    text-align: center;
    font-size: 15px;
}

th {
    background-color: #f9f9f9;
    color: #333;
}

.answer-style {
    background-color: #eef7ff;
    color: #0059b3;
    font-style: italic;
    text-align: left;
    padding: 14px;
    font-size: 14px;
}


.btn-wrapper {
    text-align: center;
    margin: 30px 0 50px;
}

.write-btn {
    background-color: #b72626;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.2s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.write-btn:hover {
    background-color: #991f1f;
}

