@charset "UTF-8";

body{
	text-align: center;
}

table{
	border-collapse: collapse;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	width: 400px;
	text-align: center;
	margin: 100px auto;
}

th{
	background-color: #66cdaa;	
}